<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/913ab3dc19.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles-protected.css">
    <link rel="stylesheet" href="/admin/admin.css">
  <link rel="icon" href="/images/KCN_mini.png" type="image/x-icon">
  <script src="/admin/admin.js" defer></script>
    <title>KODI ADMIN PANEL</title>
</head>
<body>
    <% if (user) { %>
        <div id="page">
            <div id="navbar" class="navbar-links">
              <div class="mini-logo-holder">
                <img class="mini-logo" src="../images/KCN_mini.png">
              </div>
        
              <div class="account-image-holder-container">
                <div class="account-image-holder" id="accountImageHolder">
                  <img src="" alt="" class="mini-logo" id="account-image">
                </div>
              </div>
            </div>
            <div class="account-options" id="account-options-box">
                  <a class="account-options-button">Home</a>
                  <a class="account-options-button account-options-button-logout" id="logoutButton">Logout</a>
            </div>
            <div id="body">
              <div id="body-content">
                <div id="body-content-container">
                  <div id="body-content-container-wrapper">
                    <div id="main-content">
                      <div class="main-admin-panel-container">
                        <div class="main-admin-navbar">
                          <li class="admin-navbar-item" id="admin-nav-manage">Manage Streams</li>
                        </div>
                        <div class="main-admin-manage-panel">
                          <div class="manage-panel-header-container">
                            <h1 class="admin-manage-panel-header greyed-header">Database Overview</h1>
                            <i class="fa-solid fa-question database-hint" id="database-hint-button"></i>
                          </div>
                          <div class="admin-streams-overview">
                            <div class="streams-overview-columns" id="stream-columns">
                              <div class="column-name">
                                <li class="streams-column-name">Name</li>
                                <li class="streams-column-name">Streamkey</li>
                                <li class="streams-column-name">Title</li>
                                <li class="streams-column-name">Rating</li>
                                <li class="streams-column-name">Roles</li>
                              </div>




                              <div class="streams-overview-add-stream streams-row">
                                <div class="add-stream-loading-overlay" id="add-stream-loading">
                                  <div class="lds-ring" id="add-stream-loading-circle"><div></div><div></div><div></div><div></div></div>
                                </div>


                                <input type="text" class="add-stream-input" id="add-stream-name">
                                <input type="text" placeholder="Automatic" readonly=""class="add-stream-input" id="add-stream-name">
                                <input type="text" class="add-stream-input" id="add-stream-name">
                                <input type="text" class="add-stream-input" id="add-stream-name">
                                <input type="text" placeholder="Not Editable" readonly="" class="add-stream-input" id="add-stream-name">
                                <li class="add-stream-button" id="add-stream-button">Add</li>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="admin-overlay-box" id="admin-overlay">
                <h1 class="admin-edit-streams-header greyed-header">Edit Stream</h1>
                <i class="fa-solid fa-xmark admin-edit-streams-close" id="admin-overlay-close"></i>
                <div class="admin-confirm-edit-box" id="admin-overlay-editConfirm-box">
                  <p class="confim-edit-title">Confirm Edit?</p>
                  <i class="fa-solid fa-xmark admin-confirm-remove-stream-close" id="admin-confirm-remove-stream-close"></i>
                  <li class="admin-overlay-option admin-overlay-confirm-remove" id="admin-confirm-remove-stream">Remove Stream</li>
                </div>

                <div class="admin-overlay-box-options" id="admin-overlay-options">
                  <li class="admin-overlay-option" id="admin-remove-stream">Remove Stream</li>
                </div>
                <div class="admin-overlay-loading">
                  <div class="lds-ring" id="loading-ring"><div></div><div></div><div></div><div></div></div>
                </div>

                <div class="admin-overlay-stream-details" id="admin-overlay-stream-details">
                  <div class="admin-stream-details-title-desc">
                    <div class="admin-stream-details-title">
                      <h3 class="admin-stream-details-header">Edit Title</h3>
                      <input type="text" placeholder="Type Title Here" id="admin-new-title" class="admin-title-input">
                    </div>
                    <div class="admin-stream-details-desc">
                      <h3 class="admin-stream-details-header">Edit Description</h3>
                      <textarea type="text" placeholder="Type Description Here" id="admin-new-desc" class="admin-desc-input"></textarea>
                    </div>
                  </div>

                  <div class="admin-stream-details-content-rating">
                    <h3 class="admin-content-rating-header">Content Rating<h3>
                    <div class="content-rating-selected" id="content-rating-box">
                      <p class="content-rating-selected-text" id="content-rating-text" data-selected-rating=""">
                        
                      </p>
                      <i class="fa-solid fa-angle-right content-rating-arrow" id="content-rating-arrow"></i>
                    </div>
                    <div class="content-rating-dropdown" id="content-rating-dropdown-box">
                      <li data-rating="e" data-rating-text="Everyone" class="content-rating-button">Everyone (E)</li>
                      <li data-rating="pg" data-rating-text="Parental Guidance" class="content-rating-button">Parental Guidance (PG)</li>
                      <li data-rating="su" data-rating-text="Suggestive" class="content-rating-button">Suggestive (SU)</li>
                      <li data-rating="m" data-rating-text="Mature" class="content-rating-button">Mature (M)</li>
                    </div>
                  </div>
                </div>
                <div class="admin-stream-details-save">
                  <li class="admin-stream-details-save-button" id="admin-save-details">Save</li>
                </div>

              </div>
              <div class="hint-overlay-box" id="hint-overlay">
                <h3 class="hint-overlay-header">Database How-To</h3>
                <i class="fa-solid fa-xmark admin-confirm-remove-stream-close" id="database-hint-close"></i>
                <div class="hint-overlay-container">
                  <h4 class="hint-overlay-title">Adding Streams</h4>
                  <p class="hint-overlay-description">
                    To add a stream, simply type in the text-inputs at the bottom of the database overview. Finally, click the "add" button to finalize the adding process. <br> (Rating Format: <br> e: "Everyone" <br> p: "Parental Guidance" <br> s: "Suggestive" <br> m: "Mature")
                  </p>
                </div>
                <div class="hint-overlay-container">
                  <h4 class="hint-overlay-title">Managing Streams</h4>
                  <p class="hint-overlay-description">
                    To manage streams, click the three dots on the right side of each stream row. If you would like to remove a stream, click "Remove Stream". If you would like to change the title, desc, rating, etc, do so by typing the designated text inputs for each. Finally, click "Save".
                    <br>
                  </p>
                </div>
              </div>
              <div class="alert-box" id="alertBox">
                <h3 class="alert-box-text" id="alertBoxText">Something saved successfully</h3>
              </div>
            </div>
          </div>
  

  
    <% } else { %>
        <h1>Access Denied</h1>
        <p>You do not have permission to access this page.</p>
    <% } %>
</body>
</html>