<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/913ab3dc19.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles-protected.css">
    <link rel="stylesheet" href="/admin/admin.css">
  <link rel="icon" href="/images/KCN_mini.png" type="image/x-icon">
  <script src="/admin/admin.js" defer></script>
    <title>KODI ADMIN PANEL</title>
</head>
<body>
    <% if (user) { %>
        <div id="page">
            <div id="navbar" class="navbar-links">
              <div class="mini-logo-holder">
                <img class="mini-logo" src="../images/KCN_mini.png">
              </div>
        
              <div class="account-image-holder-container">
                <div class="account-image-holder" id="accountImageHolder">
                  <img src="" alt="" class="mini-logo" id="account-image">
                </div>
              </div>
            </div>
            <div class="account-options" id="account-options-box">
                  <a class="account-options-button">Home</a>
                  <a class="account-options-button account-options-button-logout" id="logoutButton">Logout</a>
            </div>
            <div id="body">
              <div id="body-content">
                <div id="body-content-container">
                  <div id="body-content-container-wrapper">
                    <div id="main-content">
                      <div class="main-admin-panel-container">
                        <div class="main-admin-navbar">
                          <li class="admin-navbar-item" id="admin-nav-manage">Manage Streams</li>
                          <li class="admin-navbar-item" id="admin-nav-manage">More Soon...</li>
                        </div>
                        <div class="main-admin-manage-panel">
                          <div class="admin-streams-overview">
                            <div class="streams-overview-columns">
                              <div class="streams-column" id="callsign-column">
                                <p class="streams-column-name">Callsign</p>
                              </div>

                              <div class="streams-column" id="streamkey-column">
                                <p class="streams-column-name">Streamkey</p>
                              </div>

                              <div class="streams-column" id="title-column">
                                <p class="streams-column-name">Title</p>
                              </div>

                              <div class="streams-column" id="rating-column">
                                <p class="streams-column-name">Rating</p>
                              </div>

                              <div class="streams-column" id="roles.column">
                                <p class="streams-column-name">Roles</p>
                              </div>
                            </div>
                          </div>

                          <div class="manage-streams">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="overlay-box" id="overlay">
                  <div class="overlay-box-header">
                    <p class="white-header overlay-box-header">Edit Stream Details</p>
                    <p class="greyed-title close-button" onclick="closeEditStreamTitleBox()">Close</p>
                  </div>
                  <div class="overlay-box-wrapper">
                    <div class="overlay-box-title-container">
                      <p class="greyed-title overlay-box-title-header">Edit Title</p>
                      <p class="greyed-title title-character-count" id="title-character-count">(?/?)</p>
                      <input type="text" id="new-title" placeholder="Type title here">
                    </div>
          
                    <div class="overlay-box-desc-container">
                      <p class="greyed-title ">Edit Description</p>
                      <p class="greyed-title desc-character-count" id="desc-character-count">(?/?)</p>
                      <textarea type="text" id="new-desc" placeholder="Type Description Here: (Max 2000 characters)"></textarea>
                    </div>
          
                    <div class="overlay-box-button-container">
                      <button class="overlay-save" id="overlaySaveButton" onclick="saveStreamDetails()">Save</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="alert-box" id="alertBox">
                <h3 class="alert-box-text" id="alertBoxText">Something saved successfully</h3>
              </div>
            </div>
          </div>
  

  
    <% } else { %>
        <h1>Access Denied</h1>
        <p>You do not have permission to access this page.</p>
    <% } %>
</body>
</html>