<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/913ab3dc19.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles-protected.css">
    <link rel="stylesheet" href="/admin/admin.css">
  <link rel="icon" href="/images/KCN_mini.png" type="image/x-icon">
  <script src="/admin/admin.js" defer></script>
    <title>KODI ADMIN PANEL</title>
</head>
<body>
    <% if (user) { %>
        <div id="page">
            <div id="navbar" class="navbar-links">
              <div class="mini-logo-holder">
                <img class="mini-logo" src="../images/KCN_mini.png">
              </div>
        
              <div class="account-image-holder-container">
                <div class="account-image-holder" id="accountImageHolder">
                  <img src="" alt="" class="mini-logo" id="account-image">
                </div>
              </div>
            </div>
            <div class="account-options" id="account-options-box">
                  <a class="account-options-button">Home</a>
                  <a class="account-options-button account-options-button-logout" id="logoutButton">Logout</a>
            </div>
            <div id="body">
              <div id="body-content">
                <div id="body-content-container">
                  <div id="body-content-container-wrapper">
                    <div id="main-content">
                      <div class="main-admin-panel-container">
                        <div class="main-admin-navbar">
                          <li class="admin-navbar-item" id="admin-nav-manage">Manage Streams</li>
                          <li class="admin-navbar-item" id="admin-nav-manage">More Soon...</li>
                        </div>
                        <div class="main-admin-manage-panel">
                          <h1 class="admin-manage-panel-header greyed-header">Database Overview</h1>
                          <div class="admin-streams-overview">
                            <div class="streams-overview-columns" id="stream-columns">
                              <div class="column-name">
                                <li class="streams-column-name">Name</li>
                                <li class="streams-column-name">Streamkey</li>
                                <li class="streams-column-name">Title</li>
                                <li class="streams-column-name">Rating</li>
                                <li class="streams-column-name">Roles</li>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="admin-overlay-box" id="admin-overlay">
                <h1 class="admin-edit-streams-header greyed-header">Edit Stream</h1>
                <i class="fa-solid fa-xmark admin-edit-streams-close" id="admin-overlay-close"></i>
                
                <div class="admin-confirm-edit-box" id="admin-overlay-editConfirm-box">
                  <p class="confim-edit-title">Confirm Edit?</p>
                  <i class="fa-solid fa-xmark admin-confirm-remove-stream-close" id="admin-confirm-remove-stream-close"></i>
                  <li class="admin-overlay-option admin-overlay-confirm-remove" id="admin-confirm-remove-stream">Remove Stream</li>
                </div>

                <div class="admin-overlay-box-options" id="admin-overlay-options">
                  <li class="admin-overlay-option" id="admin-remove-stream">Remove Stream</li>
                </div>
              </div>
              <div class="alert-box" id="alertBox">
                <h3 class="alert-box-text" id="alertBoxText">Something saved successfully</h3>
              </div>
            </div>
          </div>
  

  
    <% } else { %>
        <h1>Access Denied</h1>
        <p>You do not have permission to access this page.</p>
    <% } %>
</body>
</html>