<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Protected Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/913ab3dc19.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles-protected.css">
  <script src="index-protected.js" type="module" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src ="../js/video.js"></script>
  <script type="module" src = "volumesave.js"></script>
  <script type="module" defer src="chart.js"></script>
  <link rel="icon" href="/images/KCN_mini.png" type="image/x-icon">
  <link href="../js/video-js.css" rel="stylesheet" >  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <% if (user) { %>
  <div id="page">
    <div id="navbar" class="navbar-links">
      <div class="mini-logo-holder">
        <img class="mini-logo" src="images/KCN_mini.png">
      </div>

      <div class="account-image-holder-container">
        <div class="account-image-holder" id="accountImageHolder">
          <img src="" alt="" class="mini-logo" id="account-image">
        </div>
      </div>
    </div>
    <div class="account-options" id="account-options-box">
          <a class="account-options-button account-options-button-logout" id="logoutButton">Logout</a>
    </div>
    <div id="body">
      <div id="body-content">
        <div id="body-content-container">
          <div id="body-content-container-wrapper">
            <div id="main-content">
              <div id="preview">
                <div id="video-preview">

                </div>
                <div id="stream-details">
                  <p class="greyed-title">Title</p>
                  <div id="stream-details-holder">
                    <p class="white-header" id="title">Title</p>
                    <button id="edit-title" class="styled-button">Edit</button>
                  </div>
                  <p class="greyed-title">Stream Health</p>
                  <p class="white-header" id="stream-health"></p>
                  <p class="greyed-title">Viewers</p>
                  <p class="white-header" id="viewer-count"></p>
                </div>
              </div>
              <div id="widgets">
                <div class="widgets-navbar">
                  <li class="widgets-navbar-navitem widgets-navbar-navitem-hover" id="widget-navitem-1">Stream Details</li>
                  <li class="widgets-navbar-navitem widgets-navbar-navitem-hover" id="widget-navitem-2">Statistics</li>
                
                </div>

                <div class="widgets-streammeta-tab" id="widgets-streammeta-tab">
                  <div class="stream-details">
                    <p class="greyed-header">Stream Details</p>
                    <div class="stream-details-holder">
                      <p class="greyed-title">Stream Key</p>
                      <div class="stream-details-container">
                        <input class="stream-details-text" type="password" readonly="" autocomplete="off" id="stream-key" value="">
                        <i style="cursor:pointer; margin-left: 10px; display:none;" id="visible-eye" class="fa-solid fa-eye fa-lg streamkey-eye" style="color: #ffffff;"></i>
                        <i style="cursor:pointer; margin-left: 10px;" id="hidden-eye" class="fa-solid fa-eye-slash fa-lg streamkey-eye" ></i>
                        <button class="styled-button" id="copy-button-key" id="copy-button-key"">Copy</button>
                      </div>
                    </div>
                    <div class="stream-details-holder">
                      <p class="greyed-title">Stream URL</p>
                      <div class="stream-details-container">
                        <input class="stream-details-text" type="text" readonly="" autocomplete="off" id="stream-url" value="">
                        <button class="styled-button" id="copy-button-url">Copy</button>
                      </div>
                    </div>
                  </div>

                  <div class="multistreaming-details">
                    <p class="greyed-header">Multistreaming</p>
                    <div class="multistreaming-details-wrapper" id="multistreaming-wrapper">
                      <p class="greyed-title">Multistreaming Points (restart stream to apply)</p>
                      <p class="greyed-title"></p>
                      <div class="multistreaming-addpoint">
                        <button style="margin: 0 0 10px 0;" class="styled-button" id="multistreaming-button-add">Add</button>
                        <button style="margin: 0 0 10px 0;" class="styled-button" id="multistreaming-button-remove">Remove</button>
                        <button style="margin: 0 0 10px 0;" class="styled-button" id="multistreaming-button-save">Save Points</button>
                      </div>
                    </div>
                  </div>

                  <div class="stream-details-holder">
                      <p class="greyed-header">Content Rating</p>
                        <div class="stream-details-container">
                          <div class="content-rating-selected" id="content-rating-box">
                            <p class="content-rating-selected-text" id="content-rating-text" data-selected-rating="">
                              
                            </p>
                            <i class="fa-solid fa-angle-right content-rating-arrow" id="content-rating-arrow"></i>
                          </div>
                          <div class="content-rating-dropdown" id="content-rating-dropdown-box">
                            <li data-rating="e" data-rating-text="Everyone" class="content-rating-button">Everyone (E)</li>
                            <li data-rating="pg" data-rating-text="Parental Guidance" class="content-rating-button">Parental Guidance (PG)</li>
                            <li data-rating="su" data-rating-text="Suggestive" class="content-rating-button">Suggestive (SU)</li>
                            <li data-rating="m" data-rating-text="Mature" class="content-rating-button">Mature (M)</li>
                          </div>
                        
                          <button id="content-rating-save-button" class="styled-button">Save</button>
                        </div>
                  </div>
                </div>

                <div class="widgets-streamstats-tab" id="widgets-streamstats-tab">
                  <canvas id="streamStats" class="widgets-streamstats-chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay-box" id="overlay">
        <div class="overlay-box-header">
          <p class="white-header overlay-box-header">Edit Stream Details</p>
          <p class="greyed-title close-button" id="overlay-close-button">Close</p>
        </div>
        <div class="overlay-box-wrapper">
          <div class="overlay-box-title-container">
            <p class="greyed-title overlay-box-title-header">Edit Title</p>
            <p class="greyed-title title-character-count" id="title-character-count">(?/?)</p>
            <input type="text" id="new-title" placeholder="Type title here">
          </div>

          <div class="overlay-box-desc-container">
            <p class="greyed-title ">Edit Description</p>
            <p class="greyed-title desc-character-count" id="desc-character-count">(?/?)</p>
            <textarea type="text" id="new-desc" placeholder="Type Description Here: (Max 2000 characters)"></textarea>
          </div>

          <div class="overlay-box-button-container">
            <button class="overlay-save" id="overlay-save-button">Save</button>
          </div>
        </div>
      </div>
      <div class="alert-box" id="alertBox">
        <h3 class="alert-box-text" id="alertBoxText">Something saved successfully</h3>
      </div>
    </div>
  </div>
    




  <% } else { %>
    <h1>Access Denied</h1>
    <p>You do not have permission to access this page.</p>
  <% } %>
</body>
</html>
